/* -------- GENERAL -------- */

@font-face {
    font-family: breadFont;
    src: url(../fonts/Titillium-Regular.otf);
}

@font-face {
    font-family: titleFont;
    src: url(../fonts/Graceland.ttf);
}


/* -------- ELEMENTS -------- */

* {
    font-family: breadFont;
    box-sizing: border-box;
}


html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: white;
}

hr {
    margin-bottom: 21px;
}

/* -------- HEADER/FOOTER -------- */

#header {
    position: relative;
    background-color: rgb(66, 66, 66);
    height: 20em;
}

#header,
#content {
    width: 100%;
}

#content {
    height: 100%;
    padding: 2em;
}

#profile_menu {
    position: absolute;
    bottom: 1em;
    right: 1em;
}


.profile_select {
    cursor: pointer;
    padding: 1em;
    margin: -1em;
    background-color: rgba(0, 0, 0, 0.30);
}

.dropdown-menu {
    right: 0;
    left: initial;
}

#stripes {
    height: 100%;
    float: left;
}

#site_logo {
    top: 0;
    position:absolute;
    color: white;
    font-size: 3em;
    width: 100%;
    height: 100%;
    display:flex;
    align-content:center;
    justify-content:center;
}

#site_logo img {
    height: 100%;
}

#header:hover #site_text {
    transition: all .5s;
    text-decoration: underline;
}

/* -------- CLASSES -------- */


.title {
    font-family: titleFont;
    font-size: 3em;
}

.btn-primary {
    background-color: #464646;
    border-color: #464646;
}

.pagination a:hover,
.btn-primary:hover,
.btn-primary.active {
    border-color: #464646;
    background-color: white;
    color: #464646;
}

.pagination .active > a {
    background-color: #464646;
    border-color: #464646;
}

.pagination .active > a:hover {
    background-color: white;
    color: #464646;
}

.sort-btn.ascending .glyphicon-chevron-down,
.sort-btn .glyphicon-chevron-up {
    display: none;
}

.sort-btn .glyphicon-chevron-down,
.sort-btn.ascending .glyphicon-chevron-up {
    display: initial;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/* -------- POSTS INDEX -------- */

#operations {
    height: 3em;
    width: 100%;
}

#operations .sort-btn:last-of-type {
    margin-right: 2em;
}

#operations .search {
    max-width: 300px;
}

#operation .control-label {
    font-size: 2em;
}

#show_posts .glyphicon-check {
    display: none;
}

#show_posts.active .glyphicon-check {
    display: initial;
}

#show_posts .glyphicon-unchecked {
    display: initial;
}

#show_posts.active .glyphicon-unchecked {
    display: none;
}



.post_thumbs {
    margin: .5em -.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.post_thumb {
    background-color: #464646;
    margin: .5em;
    color: white;
    flex-basis: calc(20% - 1em);
    min-width: 30em;
}

.post_thumb_content {
    position: relative;
    padding: 1em;
}

.post_thumb_hover {
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.50);
    opacity: 0;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.post_thumb_content:hover .post_thumb_hover {
    transition: all .5s;
    opacity: 1;
}

.post_thumb_title {
    padding: .5em;
    font-size: 2em;
}

.post_thumb_image {
    margin: 1em -1em;
}

.post_thumb_image img {
    width: 100%;
}

.post_thumb_description {
    padding: 1em;
    font-size: 1.2em;
}

.post_thumb_footer {
    padding: 2em;
    background-color: #707070;
}

/* -------- POSTS DETAILS -------- */


.post_details_image img {
    width: 100%;
}

.post_details_text {
    position: relative;
}

.post_details_description {
    font-size: 2em;
}

.post_details_footer {
    font-style: italic;
    font-size: 1.5em;
    position: absolute;
    bottom: 0;
}

.post_detail {
    margin-bottom: 10em;
}