@model Projekt.Models.Comment
<hr/>
@using (Html.BeginForm("Create", "Comments", new { post_id = Model.post_id }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <span class="medium">Comment on this post</span><br /><br />
        <textarea name="comment" class="form-control comment_textarea"></textarea><br/>
        @Html.ValidationMessageFor(model => model.comment, "", new { @class = "text-danger" })
        <input type="submit" value="Send" class="btn btn-default" />
    </div>
}
