@model Projekt.Models.Comment

<div class="comment">
    <div class="comment_description">
        <span>@Html.DisplayFor(model => model.comment)</span>
    </div>
    <div class="comment_footer">
        <span>@Html.DisplayFor(model => model.User.username)&#09;@Html.DisplayFor(model => model.created)</span>
        @if (User.Identity.IsAuthenticated)
        {
            if (Model.user_id == (int)Session["user_id"])
            {
                <a href="@Url.Action("Delete", "Comments", new { id = Model.comment_id })" class="btn btn-danger pull-right">DELETE</a>
            }
        }
    </div>
</div>
